.work-card-wrap {
  background: rgba(255, 255, 255, 0.1);
  min-height: 206px;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  padding: 24px;
  margin-top: 48px;
  .card-title {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    color: #fdc60b;
    text-align: left;
  }
  .card-divider {
    margin: 12px auto;
  }

  .card-content {
    color: #fff;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
  }
  @media screen and (max-width: 600px) {
    margin-top: 0px;
  }
}
