.landing-page {
  background: linear-gradient(
    180deg,
    #1e1b38 0%,
    rgba(42, 71, 115, 0.99) 22.51%,
    #0071bc 50.02%,
    #2e8bc9 71.3%,
    #89c0e4 100%
  );
  min-height: 2400px;
  position: relative;

  .hero-section {
    height: 700px;
    width: 100%;
    background-image: url('../../assets/image/hero.png');
    .content-box {
      padding-top: 196px;
      padding-left: 100px;
      max-width: 630px;
      .title {
        color: #fff;
        font-family: Montserrat;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 60px;
        text-transform: capitalize;
        .next-gen {
          color: #fdc60b;
        }
      }
      .sub-content {
        margin: 32px 0px 0px 24px;
        max-width: 490px;
        display: flex;
        .sub-title {
          color: #fff;
          font-family: Montserrat;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px;
        }
        .vertical-divider {
          width: 2px;
          height: 152px;
          margin-right: 24px;
          background: linear-gradient(180deg, #fff 1.24%, #1282c3 99.75%, #408ac6 106.12%);
        }
      }
    }
  }
  .join-section {
    padding: 70px 204px;
    .join-para {
      color: #fff;
      text-align: center;
      font-family: Montserrat;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 34px;
    }
  }
  .ourview-section {
    padding: 0 100px;
    .heading {
      color: #fff;
      font-family: Montserrat;
      font-size: 48px;
      font-style: normal;
      font-weight: 600;
      line-height: 60px;
    }
    .content {
      color: #fff;
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
    }
    .sub-heading {
      margin-top: 12px;
      color: #fff;
      font-family: Montserrat;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 36px;
    }
  }
  .work-section {
    height: 716px;
    margin-top: 50px;
    padding: 0 100px;
    background-image: url('../../assets/image/work.png');
    background-size: contain;
    .heading {
      padding-top: 60px;
      color: #fff;
      font-family: Montserrat;
      font-size: 48px;
      font-style: normal;
      font-weight: 600;
      line-height: 60px;
    }
    .content {
      max-width: 676px;
      color: #fff;
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      margin-bottom: 42px;
    }
    .card-title {
      font-family: Montserrat;
      font-size: 24px;
      font-weight: 700;
      line-height: 29px;
      letter-spacing: 0em;
      text-align: center;
      color: #fdc60b;
    }
    .card-divider {
      width: 100%;
      text-align: center;
      margin-bottom: 12px;
    }
    .card-content {
      color: #fff;
      text-align: center;
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
    }
  }
  .weaim-section {
    padding: 0 100px;
    .heading {
      padding-top: 60px;
      color: #fff;
      font-family: Montserrat;
      font-size: 48px;
      font-style: normal;
      font-weight: 600;
      line-height: 60px;
    }
    .content {
      color: #fff;
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      margin-bottom: 42px;
    }
    ul {
      padding: 0;
    }
    li {
      svg {
        margin-right: 16px;
        margin-top: 10px;
      }
      max-width: 690px;
      list-style: none;
      color: #fff;
      margin-bottom: 20px;
    }
  }
  .landing-footer {
    position: relative;
    margin-top: 130px;
  }
  .landing-footer {
    padding: 32px 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    .purpose-text {
      color: #fff;
      font-family: Montserrat;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 33px;
      max-width: 424px;
    }
    .footer-link-heading {
      color: #fff;
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 30px;
      text-transform: uppercase;
    }
    .footer-links {
      li {
        color: #fff;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        margin-top: 12px;
        cursor: pointer;
      }
    }
  }
  .landing-footer-img {
    mix-blend-mode: luminosity;
  }
  .copyright {
    color: #fff;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
  }
  @media screen and (max-width: 600px) {
    .join-section,
    .ourview-section,
    .work-section,
    .weaim-section,
    .landing-footer {
      padding-left: 36px;
      padding-right: 36px;
    }
    .hero-section {
      height: 400px;
      background-image: url('../../assets/image/herosmall.png');
      .content-box {
        padding-top: 53px;
        padding-left: 36px;
        padding-right: 36px;
        .title {
          font-size: 28px;
          line-height: 34px;
        }
        .sub-content {
          margin-left: 0;
        }
      }
    }
    .join-section {
      .join-para {
        font-size: 14px;
        line-height: 21px;
      }
    }
    .work-section {
      height: auto;
      height: auto;
      background-size: cover;
      background-repeat: round;
      .heading {
        font-size: 28px;
        line-height: 34px;
      }
      .content,
      .card-content {
        font-size: 14px;
        font-weight: 500;
      }
    }
    .ourview-section {
      .heading {
        font-size: 28px;
        line-height: 34px;
      }
      .content {
        font-size: 14px;
        font-weight: 500;
      }
    }
    .landing-footer {
      margin-top: 16px;
      gap: 30px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
  }
}
.primary-btn {
  border-radius: 40px;
  background: linear-gradient(53deg, #9e1f63 22.38%, #d91c5c 45.85%, #ed4663 80.16%);
  box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.05);
  padding: 12px 48px;
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  &:hover,
  :focus,
  :active {
    opacity: 0.8;
  }
}
