@import 'tailwindcss/base';
@layer base {
  h1 {
    @apply text-[24px] md:text-[30px] font-semibold;
  }
  h2 {
    @apply text-[26px] font-bold;
  }
  h3 {
    @apply text-lg;
  }
  h4 {
    @apply text-[14px] font-medium;
  }
  label {
    @apply text-[12px] font-semibold;
  }
  input {
    @apply box-border	rounded-[8px] px-[16px] py-[13px] focus:outline-none text-[16px] placeholder:font-light placeholder:text-greylight;
  }
  .error {
    @apply text-red text-[12px] font-medium;
  }
  input.haserror {
    @apply border-solid border-[1px] border-red;
  }
  input[type='password'].haserror {
    @apply border-r-0;
  }
  textarea {
    @apply border border-greymedium p-4 rounded-lg resize-none;
  }
}

@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  font-family: 'Montserrat';
}

.bg-gradient-button {
  background: linear-gradient(53deg, #9e1f63 22.38%, #d91c5c 45.85%, #ed4663 80.16%);
}
.para-normal {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.para-sm {
  color: #f2f2f2;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}
.link-sm {
  color: #70baff;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  text-decoration-line: underline;
  cursor: pointer;
}
.modal-title {
  color: #0071bc;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.image_preview {
  position: absolute;
  width: 86px;
  height: 86px;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: auto;
}
.profile-image {
  width: 86px;
  height: 86px;
  position: relative;
}

.active-nav-left-side-bar {
  border-image: linear-gradient(5deg, #9e1f63 22.38%, #d91c5c 45.85%, #ed4663 80.16%);
  border-image-slice: 1;
}

.active-nav-left-side-bar p {
  background: linear-gradient(5deg, #9e1f63 22.38%, #d91c5c 45.85%, #ed4663 80.16%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.EmojiPickerReact {
  --epr-emoji-size: 25px !important;
}

.media-layout {
  flex: 1;
  overflow-y: hidden;
  align-items: stretch;
  overflow-y: auto;
}

.media-layout img {
  object-fit: cover;
  border-radius: 8px;
  height: 100%;
}

.slick-arrow {
  display: none !important;
}

.slick-slide.slick-active {
  height: 70vh;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.slick-slide img,
.slick-slide video {
  border-radius: 6px;
}
/* Global CSS override for carosul */

.carousel .control-dots .dot {
  opacity: 1 !important;
  background: #fff;
}
.carousel .control-dots .dot.selected {
  background: #d91c5c;
}
.tab-title {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.tab-title-active {
  color: #333;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}
.tab-content-title {
  color: #333;
  font-size: 24px;
  line-height: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.tab-content-subtitle {
  color: #a1a0a0;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.tab- {
  color: #0071bc;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.text-area-input {
  color: #333;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
}
.form-title {
  color: #333;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}
.form-title-blue {
  color: #0071bc;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.step-title {
  color: #0071bc;
  font-family: Montserrat;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.upload-btn {
  color: #0071bc;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.upload-btn-gray {
  color: rgba(43, 39, 36, 0.5);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.outlined-btn {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.accordion-open {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(51, 51, 51, 0.05);
}
.para-checkbox {
  color: #333;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
}
